*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#main{
    /* border: 1px solid #264653; */
    height: auto;
    width: auto;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    background-color: #264653;
}
#logo a{
    text-decoration: none;
    font-size: 30px;
    color: white;
}
#box{
    /* border: 1px solid black; */
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
}
#bo{
    /* border: 1px solid black; */
    width: 80%;
    height: inherit;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
}
#b1{
    /* border: 1px solid black; */
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    padding: 40px;
}
#srch{
    border: 1px solid #264653;
    border-radius: 9px;
    padding: 9px;
}
#bt{
    padding: 9px;
    border-radius: 9px;
    border: 1px solid #264653;
    background-color: #264653;
    color: white;
    margin-left: 10px;
}
#b2{
    /* border: 1px solid black; */
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
}
table{
    border: 5px double #264653;
    padding: 20px;
}
/* #im{
    height: 290px;
    width: 80%;
} */
#s{
    font-family:'Courier New', Courier, monospace;
    color: #264653;
    font-size: 38px;
    text-decoration: underline;
}
#h,#r,#a{
    color: #264653;
    font-size: 20px;
}
#b{
    font-size: 20px;
}